extends layout

block content

  .jumbotron
    .container
      h1 How May I help you?
      p orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
      a.btn.btn-primary.btn-lg(href='#') Learn more &raquo;
  .container
    .row
      .col-md-4
        h2 About Us
        p orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Services
        p orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        a.btn.btn-default(href='#') View Details
      .col-md-4
        h2 Get In Touch
        p orem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        a.btn.btn-default(href='#') View Details