{{#if user}}
    <h5>Welcome back {{ user.username}}</h5>
    <ul class="alt">
        <li><a href="/{{type}}s/classes">My classes</a></li>
        <li><a href="/users/logout">Logout</a></li>
    </ul>
{{else}}
<h4>Student & instructor login</h4>
    <form action="/users/login" method="post">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" class="button" value="login">
    </form>
{{/if}}