{{#if messages.message}}
  <p>{{messages.message}}</p>
{{/if}}
<h3>Welcome to Elearn</h3>
  <p>Elearn system</p>
  <a href="/users/signup" class="button">Sign up</a>
  <p>You need to sign up to register for free classes</p>

