extends Layout

block content

  h1 Done
  input.btn.btn-primary(onclick='redirectBack()', value='BACK')

  script.
    let redirectBack = () => {
        window.location.href = 'http://localhost:3000/'
    }